/***********************************************
* this is for the bootstrap challenge.
* This is really my first attempt so we will see
* how it looks.
***********************************************/

/**********************************************
* global styles
***********************************************/


/**********************************************
* jumbotron section
***********************************************/


/**********************************************
* first section
***********************************************/
section {
	background-color: lightgray;
	color: #555;
	padding: 3rem;
}


img[alt="kitten"] {
	width: 20rem;
	height: 18rem;
}

img[alt="little kitten"] {
	width: 100px;
	height: 100px;
	margin: 3rem;
}